body{
  text-align:center;
}

#backdropDiv {
  background-image: url(/assets/oceanBG.jpg);
  background-color: #697dad;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.sellingPoint {
  width: 24%;
  margin: 0;
  text-align: center;
}
