<div id="questionTime">
  <div id="question1">
    <h3 class="questionNum">Question 1</h3>
    <p class="question">When it comes to entertainment, what do you like the most?</p>
    <div class="inputs">
      <input type="radio" id="coop" name="playerNum" value="Co-op"><label>Spending time with friends/family.</label><br />
      <input type="radio" id="single" name="playerNum" value="Singleplayer"><label>Enjoying a bit of me-time</label><br />
      <input type="radio" id="competitive" name="playerNum" value="Competitive Multiplayer"><label>Testing my skills against others</label>
    </div>
  </div>
  <div id="question2">
    <h3 class="questionNum">Question 2</h3>
    <p class="question">When it comes to games, what kinds do you like?</p>
    <div class="inputs">
      <input type="checkbox" id="action" name="tags" value="Action"><label>Adrenaline-filled</label><br />
      <input type="checkbox" id="adventure" name="tags" value="Adventure"><label>Exploration and survival</label><br />
      <input type="checkbox" id="platformer" name="tags" value="Platformer"><label>Casual and simple</label><br />
      <input type="checkbox" id="horror" name="tags" value="Horror"><label>Dark and thrilling</label><br />
      <input type="checkbox" id="vn" name="tags" value="Visual Novel"><label>Story-based</label><br />
      <input type="checkbox" id="puzzle" name="tags" value="Puzzle/Strategy"><label>Requires smart thinking</label><br />
      <input type="checkbox" id="sports" name="tags" value="Sports"><label>Athletically themed</label><br />
      <input type="checkbox" id="rpg" name="tags" value="RPG"><label>Fantasy and battle-based</label><br />
    </div>
  </div>
  <div id="question3">
    <h3 class="questionNum">Question 3</h3>
    <p class="question">Which devices do you own?</p>
    <div class="inputs">
      <input type="checkbox" id="pc" name="device" value="PC"><label>PC</label><br />
      <input type="checkbox" id="switch" name="device" value="Switch"><label>Nintendo Switch</label><br />
      <input type="checkbox" id="xbox" name="device" value="Xbox"><label>XBox X</label><br />
      <input type="checkbox" id="ps5" name="device" value="Playstation"><label>Playstation 5</label><br />
      <input type="checkbox" id="mobile" name="device" value="Mobile"><label>Mobile</label>
    </div>
  </div>
  <div id="question4">
    <h3 class="questionNum">Question 4</h3>
    <p class="question">What is your price range?</p>
    <div class="inputs">
      <input type="checkbox" id="cheap" name="cost" value="cheap"><label>$0 - $19</label><br />
      <input type="checkbox" id="moderate" name="cost" value="moderate"><label>$20 - $39</label><br />
      <input type="checkbox" id="expensive" name="cost" value="expensive"><label>$40+</label>
    </div>
  </div>
  <br />
  <div id="submit">
    <button id="submitButton">Submit</button>
  </div>
  <br />
</div>
<div id="gamesGoHere">
</div>
