* {
  text-align: center;
}

.whoThey {
  margin: auto;
  width: 100%;
  font-size: 25px;
  display: block;
}



h1 {
  text-align: center;
}

#basketbawl {
  float: left;
  margin: 10px;
}

#AJtheGuy {
  float: right;
  margin: 10px;
}
