<div id="about_us">
  <h1>
    Learn About The Founders of SeaGames
  </h1>

  <p>
    SeaGames was founded by Abdullah Jandali and William Huang.
  </p>
  <div class="whoThey">
    <img src="/assets/basketbawl.png" id="basketbawl" />
    <h3>William Huang</h3>
    <p>William Huang is a cool dude who's very patient and understanding, leading the charge with making SeaGame's website.</p>
  </div>
  <div class="whoThey">
    <img src="/assets/AJtheGuy.png" id="AJtheGuy" />
    <h3>Abdullah Jandali</h3>
    <p>Despite being a bit slow, Abdullah Jandali is always churning out ideas for something or other. Once he puts his mind to his work, there's no stopping him.</p>
  </div>
</div>
