/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  background-color: rgb(225, 232, 236);
  font-family: 'Cairo', sans-serif;
}

.imgStar {
  width: 50px;
}


h1 {
  text-align: center;
}


p {
  text-align: center;
}


#searchBox {
  text-align: center;
  margin-bottom: 40px;
}


#addReview {
    text-align: center;
}

.gameDisplay {
  background-color: rgb(243, 186, 0);
  text-align: center;
  border: solid black 2px;
  width: 60%;
  margin: auto;
  margin-bottom: 3px;
}

.gameImage {
  margin-left: 25px;
}

#gamePic {
  width: 310px;
  height: 144px;
}

.gameDisplay:hover {
  background-color: rgb(1, 88, 122);
  color: white;
}

