
<div>
  <h1 id="addGameToggle">Click Here to Add a Game!</h1>
</div>

<div  id="addGameForm">
  <form>
    <label for="title">Title: </label>
    <input type="text" id="game_title" name="title" />
    <br />

    <label for="year">Year: </label>
    <input type="text" id="game_year" name="year" />
    <br />

    <label for="image">Image Src: </label>
    <input type="text" id="game_src" name="image" />
    <br />

    Devices:
    <label for="device1">PC</label>
    <input type="checkbox" id="device1" name="device1" value="PC" />
    <label for="device2">Mobile</label>
    <input type="checkbox" id="device2" name="device2" value="Mobile" />
    <label for="device3">Switch</label>
    <input type="checkbox" id="device3" name="device3" value="Switch" />
    <label for="device4">Xbox</label>
    <input type="checkbox" id="device4" name="device4" value="Xbox" />
    <label for="device5">Playstation</label>
    <input type="checkbox" id="device5" name="device5" value="Playstation" />
    <br />

    Tags:
    <label for="tag1">Co-op</label>
    <input type="checkbox" id="tag1" value="Co-op" />
    <label for="tag2">Competitive Multiplayer</label>
    <input type="checkbox" id="tag2" value="Competitive Multiplayer" />
    <label for="tag3">Singleplayer</label>
    <input type="checkbox" id="tag3" value="Singleplayer" />
    <label for="tag4">Action</label>
    <input type="checkbox" id="tag4" value="Action" />
    <label for="tag5">Adventure</label>
    <input type="checkbox" id="tag5" value="Adventure" />
    <label for="tag6">Platformer</label>
    <input type="checkbox" id="tag6" value="Platformer" />
    <label for="tag7">Horror</label>
    <input type="checkbox" id="tag7" value="Horror" />
    <label for="tag8">Visual Novel</label>
    <input type="checkbox" id="tag8" value="Visual Novel" />
    <label for="tag9">Puzzle/Strategy</label>
    <input type="checkbox" id="tag9" value="Puzzle/Strategy" />
    <label for="tag10">Sports</label>
    <input type="checkbox" id="tag10" value="Sports" />
    <label for="tag11">RPG</label>
    <input type="checkbox" id="tag11" value="RPG" />
    <br />


    <label for="price">Price: </label>
    <input type="text" id="game_price" name="price" />
    <br />

    <label for="description">Description: </label>
    <input type="text" id="game_description" name="description" />
    <br />

    <label for="rating">Rating: </label>
    <input type="text" id="game_rating" name="rating" />
    <br />
    <label for="review">Write a review: </label>
    <textarea id="game_review" rows="4" cols="50"></textarea>
    <br />

    <input id="addGameButton" type="submit" value="Submit">


  </form>

  <br />
</div>
